@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-almarai-sans); */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --text-32: 32px;
  --text-10: 10px;

  --drop-shadow-text: -1px 3px 1px hsla(32, 92%, 52%, 0.3);

  --color-gray-light: var(--gray-light);
  --color-gray-dark: var(--gray-dark);
  --color-black: hsla(0, 0%, 7%, 1);

  --color-primary-50: hsla(196, 81%, 94%, 1);
  --color-primary-100: hsla(201, 56%, 84%, 1);
  --color-primary-800: hsla(206, 58%, 43%, 1);

  --color-accent-800: hsla(211, 42%, 22%, 1);

  --color-semantics-red: hsla(0, 66%, 63%, 1);
  --color-semantics-red-50: hsla(0, 66%, 94%, 1);
  --color-semantics-green: hsla(101, 43%, 58%, 1);
  --color-semantics-green-50: hsla(100, 43%, 92%, 1);
  --color-semantics-green-dark: hsla(101, 31%, 52%, 1);
}

:root {
  --radius: 0.625rem;
  --background: hsla(210, 43%, 97%, 1);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: hsla(32, 92%, 52%, 1);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --gray-light: hsla(210, 3%, 85%, 1);
  --gray-dark: hsla(206, 7%, 28%, 1);
}

/* @layer base {

  body {
    @apply text-black font-sans;
  }
} */

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
}

@keyframes bg-primary-to-accent {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@utility bg-animated-primary-accent {
  background-image: linear-gradient(
    120deg,
    var(--color-primary-800),
    var(--color-accent-800),
    var(--color-primary-800)
  );
  background-size: 300% 100%;
  animation: bg-primary-to-accent 5s ease-in-out infinite;
}

@utility wrapper {
  @apply mx-auto w-full px-4 sm:px-14 lg:px-36;
}

@utility section {
  @apply max-w-7xl mx-auto w-full;
}

@utility bg-dark-radial {
  background: radial-gradient(
    79.17% 79.17% at 20.83% 69.6%,
    #20364e 0%,
    #0d2237 100%
  );
}

@utility bg-blue-gradient {
  background: radial-gradient(
    79.17% 79.17% at 20.83% 69.6%,
    #25568b 0%,
    #3286c2 100%
  );
}

@utility text-gradient-custom {
  background-image: linear-gradient(90deg, #389ad6 30%, #0d2237 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility text-dark-radial {
  background: radial-gradient(
    79.17% 79.17% at 20.83% 69.6%,
    #20364e 0%,
    #0d2237 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
